*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1a0808;
    position: relative;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
    background-color: burlywood;
    flex-direction: column;
}

header {
    width: 100%;
    height: 4rem;
    background: rgb(195, 78, 0);
    background: radial-gradient(
        circle at 50% 180%,
        rgba(195, 78, 0, 1) 0%,
        rgba(64, 15, 5, 1) 100%
    );
    position: relative;
    box-shadow: 0px 5px 5px rgb(59, 3, 3);
}

header::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    height: 2rem;
    aspect-ratio: 1;
    background-image: url("../Media/UI/infoIcon.svg");
    background-position: center;
    background-size: cover;
}

header img {
    height: 70%;
}

.categoryTab {
    width: calc(100% - 1rem);
    height: 2.5rem;
    border-radius: 999px;
    background-color: rgb(77, 18, 18);
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.leftArrow,
.rightArrow {
    height: 100%;
    aspect-ratio: 1;
    position: relative;
    margin: auto;
}

.leftArrow {
    margin-left: 0.7rem;
}

.rightArrow {
    margin-right: 0;
}

.leftArrow::after {
    content: "";
    border: 0.5rem solid transparent;
    border-right: 0.7rem solid rgb(247, 223, 197);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rightArrow::after {
    content: "";
    border: 0.5rem solid transparent;
    border-left: 0.7rem solid rgb(247, 223, 197);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.categoryTitle {
    color: white;
    font-size: 1.5rem;
    font-family: "Arial Narrow Bold", sans-serif;
    font-weight: bold;
}

main {
    width: 100vw;
    flex: 1;
    margin: 0.5rem;
    overflow: hidden;
    display: flex;
    position: relative;
    overflow: hidden;
}

.categoryWrapper {
    transition: 0.5s;
    top: 0;
    left: 0vw;
    display: flex;
    position: absolute;
    height: 100%;
}

.category {
    width: 100vw;
    height: 100%;
    padding: 0 0.5rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main::-webkit-scrollbar {
    display: none;
}

footer {
    width: 100%;
    height: 5rem;
    padding: 1rem 0.5rem;
    background-color: #521010;
}

.searchIcon {
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-image: url("../Media/UI/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

footer input {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    height: 100%;
    flex: 1;
    padding: 1rem;
    margin-right: 0.5rem;
    display: flex;
    border: none;
    resize: none;
    outline: none;
}

.checkInfo {
    height: 100%;
    aspect-ratio: 2/1;
    border-radius: 999px;
    background-color: white;
    display: flex;
}

.checkNumber {
    flex: 1;
    font-size: 2rem;
    font-weight: bold;

    color: #521010;
}

.check {
    height: 100%;
    aspect-ratio: 1;
    background-image: url("../Media/UI/dishIcon.svg");
    background-size: cover;
}

/* --- main card ---*/

.mainCard {
    background-color: sienna;
    background: linear-gradient(
        45deg,
        rgb(24, 11, 12) 0%,
        rgb(112, 4, 4) 80%,
        rgb(209, 58, 58) 100%
    );
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.picture {
    height: 6rem;
    width: 6rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    flex: 1;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.mainCard h1 {
    color: white;
    font-size: auto;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid bisque;
}

.mainCard .ingredients {
    color: white;
    overflow: hidden;
    height: 0;
}

.info {
    flex: 1;
    width: 100%;
    display: flex;
    padding-top: 0.5rem;
    align-items: center;
}

.infoText {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.infoDetails {
    display: flex;
    flex: 1;
    gap: 0.3rem;
}

.pill {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: bisque;
    border-radius: 999px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mainCard p span {
    color: white;
    font-size: 1.2rem;
}

.add {
    height: 3rem;
    aspect-ratio: 1;
    background-image: url("../Media/UI/addButton.svg");
    background-position: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

/* expanded */

.mainCardExpanded {
    flex-direction: column;
    align-items: center;
    background-color: #b22222;
    background: linear-gradient(0deg, rgb(24, 11, 12) 0%, rgb(112, 4, 4) 80%, rgb(64, 6, 82) 100%);
}

.mainCardExpanded h1 {
    margin-top: 0.5rem;
}

.mainCardExpanded .picture {
    width: 100%;
    height: 15rem;
}

.mainCardExpanded .ingredients {
    color: white;
    margin: 0.5rem 0;
    overflow: hidden;
    height: auto;
}

.mainCardExpanded .infoText {
    height: 4rem;
}

.mainCardExpanded .add {
    height: 5rem;
}

.mainCardExpanded .content {
    width: 100%;
}

/*---- secondary card --- */

.smallCard {
    background-color: sienna;
    background: linear-gradient(
        45deg,
        rgb(24, 11, 12) 0%,
        rgb(112, 4, 4) 80%,
        rgb(209, 58, 58) 100%
    );
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.smallCard h1 {
    color: white;
}

/* media query */

@media only screen and (min-width: 600px) {
    .mainCard,
    .smallCard {
        width: 45%;
    }
}

.checkWindow {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    background-color: #1a0808c4;
    padding: 2rem 1rem;
    transition: 0.5s;
}

.checkWindowHidden {
    top: 200%;
}

.checkTable {
    padding: 1rem;
    height: 100%;
    width: 100%;
    background-color: rgb(241, 234, 215);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.checkHeader {
    width: 100%;
    height: 4rem;
    background-image: url("../Media/UI/logoDark.svg");
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    border-bottom: 7px dotted orangered;
}

.mainCheck {
    width: 100%;
    flex: 1;
    font-display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    border-bottom: 7px dotted orangered;
    overflow: scroll;
    
}

.checkFooter {
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
    display: flex;
}

.checkCard {
    width: 100%;
    border: 2px solid brown;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

.checkWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.checkTitle {
    flex: 1;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
    border-bottom: 2px solid brown;
}

.tipWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tipWindow span {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.plusOrder,
.minusOrder {
    height: 100%;
    width: 2rem;
    padding: 1.3rem;
    border-radius: 50%;
    background-size: cover;
}


.minusOrder {
    background-image: url(../Media/UI/minusBtn.svg);
}

.plusOrder {
    background-image: url(../Media/UI/plusBtn.svg);
}

.checkValue {
    height: 100%;
    width: 5rem;
    border-radius: 999px;
    font-size: 1.5rem;
    background-color: rgb(148, 223, 50);
    padding: 0.5rem;
    display: flex;
    margin: 0 .5rem;
    align-items: center;
    justify-content: center;
}

.checkPrice {
    height: 100%;
    width: auto;
    font-size: 1.5rem;
    background-color: orange;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin-left:auto
}

.total {
    height: 3;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 2px solid brown;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.selectTip {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.closeCheck {
    height: 100%;
    aspect-ratio: 1;
    background-image: url(../Media/UI/closeButton.svg);
    background-size: cover;
}

.tipPercentage {
    padding: 0.5rem;
    background-color: brown;
    border-radius: 999px;
    color: white;
    font-weight: bold;
}

.tipPercentageSelected {
    background-color: orangered;
    color: white;
}

.totalValue {
    background-color: orange;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
